@import "../../../assets/styles/variables.scss";

.galleryImgCards {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 1rem;

	.card {
		img {
			max-width: 250px;
			width: 100%;
			max-height: fit-content;
			height: 100%;
			object-fit: cover;
			border-radius: 10px;
			@include customShadow(1rem);
		}
	}
}

.openImg {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	background-color: $color-primary;
	border-radius: 1rem;
	padding: 3rem 1rem 0 1rem;
	border: 1px solid $color-accent;
	opacity: 0; /* Initialement caché */
	transition: opacity 0.3s ease; /* Durée de l'animation */

	.openImgStyle {
		.img {
			margin: 1rem;
			img {
				max-width: 90%;
				max-height: 50rem;
				object-fit: contain;
				border-radius: 1rem;
			}
		}

		.description {
			margin: 1rem;
			button {
				margin: 1rem auto;
			}
		}
	}
}

.openImg.animation {
	opacity: 1;
}
