@import "../../assets/styles/variables.scss";
.signUpBg {
	background-color: $color-primary;
}
.signUp {
	text-align: center;
	height: 100vh;

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: auto;
		div {
			width: 100%;
			max-width: 30rem;
			margin: 5px;
			.error {
				text-align: start;
				padding: 0;
				margin: 0;
				font-size: small;
			}

			input {
				width: 100%;
			}
		}
	}

	.login {
		max-width: 30rem;
		width: 100%;
		margin: auto;
		margin-top: 1rem;
		@include fontText(normal, 16px, $color-primary);

		button {
			width: 100%;
			justify-content: center;
		}
	}
}
