@import "../../assets/styles/variables.scss";

.mentionLegal {
	background-color: $color-secondary;
	text-align: center;

	.content {
		background-color: $color-primary;
		border-radius: 1rem;
		padding: 1rem;
		h1 {
			font-size: xx-large;
		}

		.credit {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			align-items: start;
			text-align: start;
		}
	}
}
