@import "../../assets/styles/variables.scss";

.profile {
	background-color: $color-primary;
	text-align: center;

	.prersonelData {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.logOut {
		margin-bottom: 1rem;
		button {
			margin: auto;
		}
	}
}
