@import "../../../assets/styles/variables.scss";

.about {
	text-align: center;
	position: relative;
	display: grid;
	grid-template-columns: 10fr 2fr;
	align-items: end;
	.presentationText {
		p {
			margin: 1rem 0;
		}
	}
}
