@import "../../assets/styles/variables.scss";

.repair {
	background-color: $color-secondary;
	text-align: center;

	.content {
		background-color: $color-primary;
		border-radius: 1rem;
		padding: 1rem;
		.repairDesc {
			margin: 1rem;
		}
	}
}
