@import "../../assets/styles/variables.scss";

.brands {
	background-color: $color-secondary;
	text-align: center;
	.content {
		background-color: $color-primary;
		border-radius: 1rem;
		padding: 1rem;
		.brandsCards {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}
}
