@import "../../assets/styles/variables.scss";

.brands {
	background-color: $color-primary;
	text-align: center;
	.content {
		.brandsCards {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}
	}
}
