@import "../../assets/styles/variables.scss";

.unsubscribe {
	background-color: $color-secondary;
	text-align: center;

	.content {
		background-color: $color-primary;
		border-radius: 1rem;
		padding: 1rem;

		img {
			border-radius: 1rem;
			max-width: 20%;
		}
	}
}
