@import "../../assets/styles/variables.scss";

.newPassword {
	background: url(../../assets/img/login.svg) no-repeat;
	background-size: 100%;

	.content {
		height: 100vh;
		form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: auto;

			input {
				width: 100%;
				max-width: 30rem;
			}

			div {
				width: 100%;
				max-width: 30rem;
				margin: 5px 0;

				.error {
					text-align: start;
					padding: 0;
					margin: 0;
					font-size: small;
				}
			}
		}

		.login {
			max-width: 30rem;
			width: 100%;
			margin: auto;
			margin-top: 1rem;
			@include fontText(normal, 16px, $color-primary);

			button {
				width: 100%;
				justify-content: center;
			}
		}
	}
}
