@import "../../assets/styles/variables.scss";

.bikeUsed {
	background-color: $color-secondary;
	text-align: center;

	.content {
		background-color: $color-primary;
		border-radius: 1rem;
		padding: 1rem;
	}
}
